<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>About - Progressus Bootstrap template</title>

    <link rel="shortcut icon" href="{% static 'assets/images/gt_favicon.png' %}">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/jquery1.5.js' %}"></script>
	<script src="{% static 'assets/js/html5shiv.js' %}"></script>
	<script src="{% static 'assets/js/respond.min.js' %}"></script>
	<![endif]-->
    <!--表单js和样式-->
    <style type="text/css">
/* Border styles */
#table-1 thead, #table-1 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(220,220,220);
}
/* Padding and font style */
#table-1 td, #table-1 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
color: rgb(0,191,255);
}

/* Alternating background colors */
#table-1 tr:nth-child(even) {
background: rgb(220,220,220)
}
#table-1 tr:nth-child(odd) {
background: #FFF
}
</style>

</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="{% url 'labs:index' %}"><img src="{% static 'assets/images/logo.png' %}"
                                                           alt="Progressus HTML5 template"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="{% url 'labs:index' %}">Home</a></li>
                <li class="active"><a href="{% url 'labs:show' %}">Papers</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="sidebar-left.html">Left Sidebar</a></li>
                        <li><a href="sidebar-right.html">Right Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
                <li><a class="btn" href="{% url 'labs:sign' %}">SIGN IN / SIGN UP</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">测试数据 </h1>
            </header>
            <body>
            {% if error %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form role="form" action="" method="get" id="myform">
                {% csrf_token %}
                <label for="name">发表时间</label>
                <select class="form-control" name="year" value="" onchange="submitForm()">
                    <option value=""></option>
                    <option value="-1">all</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                </select>
            </form>
            <script>
                function submitForm() {
                    //获取form表单对象
                    var form = document.getElementById("myform");
                    form.submit();//form表单提交
                }
            </script>
            <table aling=center id="table-1">
                <caption></caption>
                <thead>
                <tr>
                    <th>标题</th>
                    <th>发表时间</th>
                    <th>期刊名称</th>
                    <th>第一作者</th>
                    <th>第二作者</th>

                </tr>
                </thead>
                <tbody>
                {% for sl in tmp %}
                    <tr>
                        <td style="cursor:pointer;"><a href="{{ sl.URL }}">{{ sl.title }}</a></td>
                        <td>{{ sl.pub_time }}</td>
                        <td>{{ sl.pub_name }}</td>
                        <td>{{ sl.autor_name.0.first_name }} {{ sl.autor_name.0.last_name }}</td>
                        <td>{{ sl.autor_name.1.first_name }} {{ sl.autor_name.1.last_name }}</td>
                        {% for name in sl.autor_name %}
                            <td>{{ name.first_name }} {{ name.last_name }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </body>
            <p><img src="{% static 'assets/images/mac.jpg' %}" alt="" class="img-rounded pull-right"
                    width="300"></p>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->


<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>+234 23 9873237<br>
                            <a href="mailto:#">some.email@somewhere.com</a><br>
                            <br>
                            234 Hidden Pond Road, Ashland City, TN 37015
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Follow me</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons clearfix">
                            <a href=""><i class="fa fa-twitter fa-2"></i></a>
                            <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                            <a href=""><i class="fa fa-github fa-2"></i></a>
                            <a href=""><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">Text widget</h3>
                    <div class="widget-body">
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="#">Home</a> |
                            <a href="about.html">About</a> |
                            <a href="sidebar-right.html">Sidebar</a> |
                            <a href="contact.html">Contact</a> |
                            <b><a href="signup.html">Sign up</a></b>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/"
                                                                             rel="designer">gettemplate</a>
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>
</footer>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/headroom.min.js' %}"></script>
<script src="{% static 'assets/js/jQuery.headroom.min.js' %}"></script>
<script src="{% static 'assets/js/template.js' %}"></script>
</body>
</html>